body{
background-image:url(../Images/BACKGROUND1.jpg);
background-position:top;
background-repeat:repeat;
}

footer{
background-image:url(../Images/foot.jpg);
background-position:top;
background-repeat:no-repeat;
padding:15px;
border-radius:15px;
clear:both;
margin: auto;
max-height:50px;
max-width:900px;
box-shadow:0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
-webkit-box-shadow: 0px 0px 10px #000;    
}

div#nav_container{
padding:15px;
border-radius:15px;
clear:both;
margin:auto;
min-height:40px;
max-width:900px;   
}

div#pic{
margin-top:30px;
margin-right:30px;
float:right;
max-height:250px;
max-width:200px;
box-shadow:0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
-webkit-box-shadow: 0px 0px 10px #000;
}

div#heading{
margin-top:40px;
margin-left:30px;
float: right;
max-width:800px; 
min-width:880px; 
}

div#middle{
margin-left:30px;
float: right;
max-width:800px; 
min-width:880px; 
}

div#logo{
margin-top: 50px;
}

h1{
color: white;
}

p{
border: 1px solid black
font-family: sans-serif;
font-size: 14px;
color: white;
}

div#wrapper{
background-image:url(../Images/wrapper_backg.jpg);
background-repeat:no-repeat;
background-color:#fff;
padding:15px;
border-radius:15px;
clear:both;
margin: auto;
min-height:1130px;
max-width:900px;
box-shadow:0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
-webkit-box-shadow: 0px 0px 10px #000;
}
 
div#navigator{
min-height:60px;
width:118.8%;
position:relative;
margin-left:-60px;
background-color:none;
border-radius: 25px;
}

div#car1{
float: left;
max-width:600px;
min-width::400px;
}
 
div#car2{
margin-left:40px;
float: left;
}
div#car3{
margin-left:40px;
float: left;
}

div#car4{
max-width:400px;
min-width::400px;
float:left;
}

div#navigator ul{
margin:0;
padding:0;
min-height:60px;
float:left;
}

div#navigator ul li{
list-style:none;
float:left;
min-height:60px;
border: 2px solid #800020;
text-align:center;
border-radius: 25px;
background: black;
}

div#navigator ul li a{
display:block;
height:35px;
color:white;
font-size:22.4px;
text-transform:uppercase;
text-decoration:none;
font-family:algerian;
padding: 0 26.59px;
text-align:center;
min-height:60px;
line-height:60px;
}

div#navigator ul li a:hover{
background-color:red;
border-radius: 25px;
color:black;
font-weight:bolder;
}